.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
@import url(https://fonts.googleapis.com/css?family=Oswald);

@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

@import url(https://fonts.googleapis.com/css?family=Pacifico);

.App-link {
  color: #61dafb;
}
OverlayMenu {
  background-color: #151414;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  text-decoration: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
  outline: none;
}

section {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  display: table;
  position: relative;
}

#container {
  margin: 0 auto;
  max-width: 520px;
  text-align: center;
}

#container h1 {
  font-weight: normal;
  text-transform: uppercase;
  margin: 0.3125em 0;
  background-color: #111111;
  position: relative;
  display: inline-block;
  padding: 0 10px;
}

.style-3 {
  font-family: "Oswald", sans-serif;
}
h1 {
  margin: 0px auto;
  display: table;
  font-size: 26px;
  padding: 40px 0px;
  color: #ff444a;
  text-align: center;
}
h1 span {
  font-weight: 500;
}

header {
  width: 100%;
  display: table;
  background-image: linear-gradient(to right, pink, crimson);
}
#logo {
  float: left;
  font-size: 24px;
  text-transform: uppercase;
  color: #002e5b;
  font-weight: 600;
  padding: 20px 0px;
}
nav {
  width: auto;
  float: right;
}
nav ul {
  display: table;
  float: right;
}
nav ul li {
  float: left;
}
nav ul li:last-child {
  padding-right: 0px;
}
nav ul li a {
  color: white;
  font-size: 18px;
  padding: 25px 20px;
  display: inline-block;
  transition: all 0.5s ease 0s;
}
nav ul li a:hover {
  color: black;
  transition: all 0.5s ease 0s;
}
nav ul li a:hover i {
  color: #fde428;
  transition: all 0.5s ease 0s;
}
nav ul li a i {
  padding-right: 10px;
  color: #002e5b;
  transition: all 0.5s ease 0s;
}

.toggle-menu ul {
  display: table;
  width: 25px;
}
.toggle-menu ul li {
  width: 100%;
  height: 3px;
  background-color: #002e5b;
  margin-bottom: 4px;
}
.toggle-menu ul li:last-child {
  margin-bottom: 0px;
}

input[type="checkbox"],
label {
  display: none;
}

.content {
  display: table;
  margin-bottom: 60px;
  width: 900px;
}
.content h2 {
  font-size: 18px;
  font-weight: 500;
  color: #002e5b;
  border-bottom: 1px solid #fde428;
  display: table;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.content p {
  font-size: 14px;
  line-height: 22px;
  text-align: justify;
}

footer {
  display: table;
  padding-bottom: 30px;
  width: 100%;
}
.social {
  margin: 0px auto;
  display: table;
  display: table;
}
.social li {
  float: left;
  padding: 0px 10px;
}
.social li a {
  color: #002e5b;
  transition: all 0.5s ease 0s;
}
.social li a:hover {
  color: #fde428;
  transition: all 0.5s ease 0s;
}

@media only screen and (max-width: 1440px) {
  section {
    max-width: 95%;
  }
}

@media only screen and (max-width: 980px) {
  header {
    padding: 20px 0px;
  }
  #logo {
    padding: 0px;
  }
  input[type="checkbox"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
    background: none;
  }
  input[type="checkbox"]:fous {
    background: none;
  }
  label {
    float: right;
    padding: 8px 0px;
    display: inline-block;
    cursor: pointer;
  }
  input[type="checkbox"]:checked ~ nav {
    display: block;
  }

  nav {
    display: none;
    position: absolute;
    right: 0px;
    top: 53px;
    background-color: #002e5b;
    padding: 0px;
    z-index: 99;
  }
  nav ul {
    width: auto;
  }
  nav ul li {
    float: none;
    padding: 0px;
    width: 100%;
    display: table;
  }
  nav ul li a {
    color: #fff;
    font-size: 15px;
    padding: 10px 20px;
    display: block;
    border-bottom: 1px solid rgba(225, 225, 225, 0.1);
  }
  nav ul li a i {
    color: #fde428;
    padding-right: 13px;
  }
}

@media only screen and (max-width: 980px) {
  .content {
    width: 90%;
  }
}

@media only screen and (max-width: 568px) {
  h1 {
    padding: 25px 0px;
  }
  h1 span {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  section {
    max-width: 90%;
  }
}

@media only screen and (max-width: 360px) {
  h1 {
    font-size: 20px;
  }
  label {
    padding: 5px 0px;
  }
  #logo {
    font-size: 20px;
  }
  nav {
    top: 47px;
  }
}

@media only screen and (max-width: 320px) {
  h1 {
    padding: 20px 0px;
  }
}
.icono {
  background-color: red;
  margin: "10px";
}
.icons {
  margin-left: 10px;
}
.search {
  border: 1px solid #c4c4c4;
  width: 500px;
  display: flex;
  border-radius: 50px;
  font-size: 18px;
  left: 30%;
  top: 200px;
}

.button-src {
  padding: 10px 110px;
  display: inline-block;
}
.button-src button {
  padding: 10px 35px 10px 35px;
  border-radius: 50px;
  border: none;
  margin: 9px 7px;
  background-color: #ff7a00;
  color: #ffffff;
  font-size: 18px;
}
.search-container {
  float: right;
}

input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}
.topHead {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .topHead {
    display: inline-block;
  }
  .search-container {
    float: none;
  }
  .search-container button {
    float: none;
    margin: 0;
    padding: 8px;
  }
  input[type="text"] {
    border: 1px solid #ccc;
  }
}
@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

div#slider {
  overflow: hidden;
  height: 70vh;
}
div#slider figure img {
  width: 20%;
  float: left;
  background-size: cover;
}
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 20s slidy infinite;
}
.store {
  display: flex;
  flex-direction: row;
}

.store:before,
.store:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #000;
  margin: auto;
}

.store:before {
  margin-right: 10px;
}

.store:after {
  margin-left: 10px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 4px 16px;
}

#cards-container {
  overflow: hidden;
  margin: 20px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 99999px;
}

.card {
  /* Add shadows to create the "card" effect */
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 235px;
  margin: 15px 7.5px;
}

.card:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card .img {
  max-width: 220px;
  height: 220px;
  display: inline-block;
}

#slide-left-container,
#slide-right-container {
  display: none;
}

#slide-left-container.active,
#slide-right-container.active {
  display: block;
  cursor: pointer;
}

.slide-left,
.slide-right {
  border-color: #fff;
  border-style: solid;
  height: 20px;
  width: 20px;
  margin-top: 30%;
}

.slide-left {
  border-width: 4px 0 0 4px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-left: 40%;
}

.slide-right {
  border-width: 4px 4px 0 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-left: 22%;
}
.categ {
  display: flex;
  justify-content: space-evenly;
  margin-left: 25px;
  margin-bottom: 50px;
  cursor: "pointer";
}
.categ img {
  border: 2px solid #d8d8d8;
  padding: 2px;
  height: "20px";
  width: "30px";
}
.MainImage {
  display: flex;
  align-items: center;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 25px;
}
.MainImage img {
  height: 70vh;
  width: 100%;
}
.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
.glow-on-hover {
  max-width: 100%;
  min-width: 60%;
  height: 50px;
  border: 1px solid #f90083;
  outline: none;
  color: #f90083;
  background-color: white;
  cursor: pointer;
  position: relative;
  z-index: 0;
  /* border-radius: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  font-weight: bolder;
  padding: 5px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;

  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  /* border-radius: 10px; */
}

.glow-on-hover:active {
  color: #f90083;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  left: 0;
  top: 0;
  /* border-radius: 10px; */
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.set {
  position: absolute;
  /* animation-name: example;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite; */
  width: 30%;
  margin-left: 10%;
  margin-top: 1%;
}
/* @keyframes example {
    from {
      top: 5px;
    }
    to {
      top: 0px;
    }
  } */
.modal {
  font-size: 12px;
  border-radius: 25%;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
.button {
  height: 50px;
  border: 1px solid #f90083;
  outline: none;
  color: #f90083;
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
  align-items: center;
  font-size: 3vh;
  font-weight: bolder;
  padding: 5px;
}
.input {
  widows: 25px;
  height: 45px;
  color: #f90083;

  border-radius: 10px;
  border: 1px solid #f90083;
  cursor: copy;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

h1 {
  font-size: 32px;
  margin-bottom: 50px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 18px;
}
p {
  margin: 15px 0;
  line-height: 24px;
}
a {
  color: dodgerblue;
  text-decoration: none;
  border-bottom: 1px dotted;
}
a:hover {
  color: tomato;
}

.container {
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
h1.second {
  font-weight: 200;
}

h1.second span {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  border-bottom: 1px solid mediumseagreen;
}

h1.second span:after {
  content: "";
  position: absolute;
  bottom: calc(-100% - 1px);
  margin-left: -10px;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border-top: 1px solid mediumseagreen;
}
.catCard {
  border-radius: 50px;
  border: 2px solid #43004d;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.catCard img {
  height: 100px;
  font-size: 50px;
  color: #ff444a;
}
.iconBox {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.AlphaButton {
  margin-top: 50px;
  border: none;
  font-size: 25px;
  border: 2px solid #330033;
  padding: 5px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-left: 5px;
  box-shadow: gray;
  color: #ff444a;
  cursor: pointer;
}
.filterList {
  border: 2px solid black;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  list-style-type: square;
}
.listStore {
  padding: 15px;
}
